<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<featuresConfig>
  <enabledFeatures>
  {% for feature in verapdf_features %}
    <feature>{{ feature }}</feature>
  {% endfor %}
  </enabledFeatures>
</featuresConfig>
