* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: sans-serif;
}

.header {
  top: 0px;
  position: relative;
  height: 100px;
  width: 100%;
}

.header .app-title {
  color: #1550ad;
  padding: 10px 20px;
}

.header #menu_container {
  float: right;
  color: #000;
}

.header #menu_container #menu {
  list-style:none;
  padding-right: 10px;
}

.header #menu_container #menu li {
  display: inline-block;
  padding: 3px;
  letter-spacing: 1px;
}

.header a, .header a:visited, .header a:active  {
  text-decoration: none;
  color: #000;
}

.main {
  position: relative;
  width: 100%;
}

.main-form {
  background: #1550ad;
  color: white;
  padding: 10px 5px;
  font-size: 22px;
}

.main-form p {
  padding: 3px;
}

.main-form .form-label {
  display: inline-block;
  min-width: 220px;
}

.main-form .form-input {
  height: 30px;
  padding: 0 3px;
  font-size: 18px;
}

.main-form .checkbox-input {
  opacity: 0;
  position: absolute;
  width: 22px;
  height: 22px;
  outline: none;
  cursor: pointer;
}

.main-form .checkbox-input + .check-label {
  cursor: pointer;
  white-space: nowrap;
}

.main-form .checkbox-input + .check-label::before {
  color: #000;
  content: '';
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 22px;
  line-height: 22px;
  min-width: 22px;
  margin-top: -5px;
  margin-right: 10px;
}

.main-form .checkbox-input:checked + .check-label::before {
  display: inline-block;
  content: '✔';
}

.input-button {
  margin: 15px;
  padding: 4px 15px;
  min-width: 60px;
  min-height: 30px;
  height: auto;
  width: auto;
  cursor: pointer;
  border-color:#1550ad;
  color: #1550ad;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #1550ad;
  text-align: center;
}

.input-button:active {
  box-shadow: inset 0 0 8px rgba(21, 80, 173, 0.5);
}

.input-button.submit-btn {
  display:inherit;
}

.input-button.a-btn {
  text-decoration: none;
  box-sizing: border-box;
}

.input-button.back-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.main-secondary-data {
  padding: 10px 5px;
  font-size: 20px;
}

.result-table {
  border: 1px solid rgba(21, 80, 173, 0.5);
  border-collapse:collapse;
}

.result-table td {
  border: 1px solid rgba(21, 80, 173, 0.5);
  text-align: center;
  padding: 3px 10px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background: #1550ad;
}

.hidden-element {
  display: none;
}