server:
  applicationConnectors:
  - type: "{{ logius_web_connection_type }}"
    port: "{{ logius_samp_port }}"
  adminConnectors:
  - type: "{{ logius_web_connection_type }}"
    port: "{{ logius_samp_admin_port }}"
