# Configuration information for the Logius web application
#
# Dropwizard server config
server:
  # Application GUI connector
  applicationConnectors:
  - type: {{ logius_web_connection_type }}
    port: {{ logius_web_port }}
  # Dropwizard admin GUI connector
  adminConnectors:
  - type: {{ logius_web_connection_type }}
    port: {{ logius_web_admin_port }}
# Email service details for notification
emailServer:
  host: {{ logius_gmail_host }}
  address: {{ logius_gmail_address }}
  user: {{ logius_gmail_user }}
  password: {{ logius_gmail_password }}
  port: {{ logius_gmail_port }}
# Application database credentials
credentials:
  connectionString: {{ logius_db_connection_string }}
  user: {{ logius_db_user_name }}
  password: {{ logius_db_password }}
resourcePath: {{ logius_app_resources }}
heritrixUrl: {{ logius_heritrix_connection_type}}://{{ logius_server_name }}:{{ logius_heritrix_port}}/
heritrixLogin: {{ logius_heritrix_admin_user}}
heritrixPassword: {{ logius_heritrix_admin_password }}
verapdfUrl: {{ logius_web_connection_type }}://{{ logius_server_name }}:{{ logius_verapdf_port }}
logging:
  level: WARN
  loggers:
    "CustomLogger":
      additive: false
      level: INFO
      appenders:
      - type: file
        currentLogFilename: "{{ logius_log_dir }}/logius.log"
        archive: true
        archivedLogFilenamePattern: "{{ logius_log_dir }}/logius-%d.log"
        archivedFileCount: 10
