* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}
body.container-fluid {
  min-height: 100%;
  padding: 0;
}

/* Common */
.header {
  top: 0;
  position: relative;
  height: 120px;
  width: 100%;
}

.header .app-title {
  color: #1550ad;
  padding: 20px;
}

.header #menu_container {
  float: right;
  color: #000;
}

.header #menu_container #menu {
  list-style:none;
  padding-right: 10px;
  margin-bottom: 0;
}

.header #menu_container #menu li {
  display: inline-block;
  padding: 3px 10px;
  letter-spacing: 1px;
}

.header a, .header a:visited, .header a:active  {
  text-decoration: none;
  color: #000;
}

.main {
  background: #1550ad;
  color: white;
  position: relative;
  padding: 20px;
  width: 100%;
}

.main a {
  color: white;
}

.main .form-control:focus {
  border-color: #1550ad;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #1550ad;
}

.hidden-element {
  display: none;
}

.tooltip.error .tooltip-inner {
  background-color: #fd5858;
  color: white;
}

.tooltip.error .arrow::before {
  border-top-color: #fd5858;
}


  /* index.html */
.main-form {
  font-size: 22px;
}

.main-form p {
  padding: 5px;
  margin-bottom: 0;
}

.main-form .form-control {
  display: inline;
  width: 258px;
}

/* .main-form .form-label {
  display: inline-block;
  min-width: 250px;
} */
.main-form .error-message-container{
  display: inline-block;
  min-width: 250px;
}

.main-form .checkbox-input {
  opacity: 0;
  position: absolute;
  width: 22px;
  height: 22px;
  outline: none;
  cursor: pointer;
}

.main-form .checkbox-input + .check-label {
  cursor: pointer;
  white-space: nowrap;
}

.main-form .checkbox-input + .check-label::before {
  color: #000;
  content: '';
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 22px;
  line-height: 22px;
  min-width: 22px;
  margin-top: -5px;
  margin-right: 10px;
}

.main-form .checkbox-input:checked + .check-label::before {
  display: inline-block;
  content: '✔';
}

.input-button {
  margin: 15px 15px;/* 0 175px;*/
  padding: 10px 20px;
  min-width: 60px;
  min-height: 30px;
  height: auto;
  width: auto;
  cursor: pointer;
  color: #1550ad;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #1550ad;
  text-align: center;
}

.input-button:active {
  box-shadow: inset 0 0 8px rgba(21, 80, 173, 0.5);
}

.input-button.a-btn {
  text-decoration: none;
  box-sizing: border-box;
}

.input-button.back-btn {
  position: fixed;
  bottom: 0;
  right: 0;
}

.main-secondary-data {
  padding: 10px 5px;
  font-size: 20px;
}

.result-table {
  border: 1px solid rgba(21, 80, 173, 0.5);
  border-collapse:collapse;
}

.result-table td {
  border: 1px solid rgba(21, 80, 173, 0.5);
  text-align: center;
  padding: 3px 10px;
}

/* domains.html */

.main h4 {
  color: white;
  margin-bottom: 30px;
}

.domain-filter {
  margin: 10px 0;
}

.domain-filter .input-group-addon {
  border-color: #1550ad;
  color: #1550ad;
  background-color: white;
}

.domains-list {
  color: white;
}

.domains-list td, .domains-list th {
  border-top: none;
  vertical-align: middle;
}

.domains-list .col-status {
  width: 100px;
}

.domains-list th.col-actions {
  width: 200px;
  padding-left: 17px;
}

.domains-list td.col-actions {
  width: 60px;
}

.domains-list a, .domains-list a:active, .domains-list a:hover, .domains-list a:focus {
  color: white;
  text-decoration: none;
}

a.action {
  text-decoration: none;
  align-items: center;
  width: 50px;
}

a.action .label {
  font-size: 12px;
}

.pagination {
  margin-bottom: 0;
}
.pagination .page-link {
  color: #1550ad;
}
.pagination .active .page-link {
  color: white;
  background-color: #1550ad;
  border-color: white;
}
.pagination .page-link, .pagination .disabled .page-link {
  border-color: #1550ad;
}
.pagination .page-item.hide{
  display: none;
}

/* Domain details */
.status-paused .action.pause {
  display: none!important;
}

.status-running .action.resume {
  display: none!important;
}

.status-finished .action.pause, .status-finished .action.resume {
  display: none!important;
}

.status-failed .action.pause, .status-failed .action.resume {
  display: none!important;
}

.domain-name span {
  text-decoration: underline;
}

.job-details span.job-date {
  font-size: 14px;
}

.job-details .status-text {
  text-transform: capitalize;
  display: block;
  margin-bottom: 10px;
}

.job-mails {
  padding-top: 10px;
}

.job-mails .label {
  display: inline-block;
  padding-right: 10px;
  padding-top: 7px;
}

.job-mails .read-mode-view {
  display: flex;
  min-height: 66px;
}

.job-mails .edit-mode-view, .job-mails.edit-mode .read-mode-view {
  display: none;
}

.job-mails.edit-mode .edit-mode-view {
  display: flex;
}

.job-mails .action {
  width: 25px;
  padding: 2px 0;
}

.job-mails .action.edit {
  margin-left: 10px;
  margin-top: 6px;
  visibility: hidden;
}

.job-mails.editable .action.edit {
  visibility: visible;
}

.job-mails span.job-mails-list {
  padding-top: 7px;
}

.job-mails textarea.job-mails-list {
  width: 400px;
}

.job-mails textarea.job-mails-list.error {
  background-color: #ffc9ca;
}

.nav-tabs .nav-link {
  color: white;
}
.nav-tabs .nav-link.active {
  color: white;
  background: transparent;
}

.tab-pane {
  padding-top: 20px;
}

.summary .summary-chart {
  width: 200px;
  height: 200px;
  float: left;
}

.summary form {
  padding-bottom: 15px;
}

.summary .good-documents, .summary .bad-documents {
  margin: 0 0 5px 220px;
  padding: 5px 10px;
  border-radius: 2px;
}

.summary .good-documents {
  background-color: #43c46f;
}

.summary .bad-documents {
  background-color: #fd5858;
}

.documents .col {
  height: 400px;
}

.errors .errors-chart {
  width: 300px;
  height: 300px;
  float: left;
}

.errors .custom-select {
  border-color: #1550ad;
}

.errors .tt-menu {
  background-color: white;
  min-width: 164px;
  color: #495057;
  margin: -4px 0 0 1px;
  border-radius: 3px;
}

.errors .tt-dataset {
  border-top: 1px solid #b2b9c0;
  margin: 2px 0 0 0;
  padding: 1px 10px 3px;
  cursor: pointer;
}

.errors .errors-list {
  margin-left: 320px;
}

.links {
  padding-top: 20px;
}
