# Configuration information for the Logius web application
#
# Dropwizard server config
server:
  # Application GUI connector
  applicationConnectors:
  - type: {{ logius.web.connection_type }}
    port: {{ logius.web.port }}
  # Dropwizard admin GUI connector
  adminConnectors:
  - type: {{ logius.web.connection_type }}
    port: {{ logius.web.admin_port }}
# Email service details for notification
emailServer:
  host: {{ logius.web.gmail.host }}
  address: {{ logius.web.gmail.address }}
  user: {{ logius.web.gmail.user }}
  password: {{ logius.web.gmail.password }}
  port: {{ logius.web.gmail.port }}
# Application database credentials
credentials:
  connectionString: {{ logius.db.connection_string }}
  user: {{ logius.db.user_name }}
  password: {{ logius.db.password }}
resourcePath: /home/anton/Documents/Logius/LogiusWebApp/src/main/resources/
heritrixUrl: https://localhost:8443/
heritrixLogin: admin
heritrixPassword: logius
verapdfUrl: http://localhost:8100
logging:
  level: WARN
  loggers:
    "CustomLogger":
      additive: false
      level: INFO
      appenders:
      - type: file
        currentLogFilename: /home/anton/Documents/Logius/logs/logius.log
        archive: true
        archivedLogFilenamePattern: /home/anton/Documents/Logius/logs/logius-%d.log
        archivedFileCount: 10
